/*
  Ads_homepage module CSS styles.
*/

body.page-homepage .panel-col-first {
	display: none;
}

body.page-homepage .panel-col {
	width: 100%;
}

body.page-homepage .panel-col-last {
	display: none;
}

.view-categories-grouped > .view-content > div.item-list {
  /* Forcing categories to fill all possible columns */
  margin: 0 auto;
  width: 200px;
  overflow: hidden;
 }

/* Category icon. */
.view-categories-grouped > .view-content > div.item-list .views-field-field-ads-cat-icon,
.view-categories-grouped > .view-content > div.item-list .views-field-field-ads-cat-icon-1 {
	float: left;
	padding-right: 5px;
	vertical-align: middle;
}

/* Category title. */
.view-categories-grouped > .view-content > div.item-list h3 {
  font-size: 90%;
  color: #000;
  font-weight: bold;
  margin: 14px 0px 4px 0px;
  padding: 6px 8px 8px 5px;
  white-space: pre;
  word-wrap: normal;

}

.view-categories-grouped > .view-content > div.item-list h3 img {
	float: left;
	padding-right: 6px;
}

/* Category names. */
.view-categories-grouped > .view-content > div.item-list ul {
  margin: 2px 0 0 0;
  font-size: 90%;
  list-style: none;
  padding: 0px 6px 0 6px;
}

/* Category name. */
.view-categories-grouped > .view-content > div.item-list ul li {
  clear: left;
}