@import theme/all;

body.page-homepage {
	.panel-col-first {
  	width: 24%;
  	margin: 0;
  	padding: 0;
  	
    > .inside {
    	margin: 0;
    }
  }
  
  .panel-col-last {
 	  width: 76%;
    margin: 0;
    padding: 0;
    
    > .inside {
    	padding: 16px 16px;
    	margin: 0;
    }
  }
}

.view-categories-grouped {

  padding: 10px 0 0 0;
  

  > .view-content > div.item-list {
    /* Forcing categories to fill all possible columns */
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
  }

  /* Category icon. */
  img {
    margin-right: 5px;
    vertical-align: -15%;
  }

  // Category title.
  .title {
    color: #000;
    font-weight: bold;
    margin: 14px 0px 4px 0px;
    padding: 6px 8px 8px 5px;
    white-space: nowrap;
    word-wrap: normal;
  
  }

  // Category icon.
  li img {
    float: left;
    padding-right: 6px;
  }

  // Category names.
  ul {
    margin: 4px 0 16px 0;
    list-style: none;
    padding: 0px 6px 0 6px;
  }

  // Category name.
  li {
    clear: left;
    margin-left: 23px;
    
    a {
      line-height: $fontNormalSize + 8px;
      font-size: $fontNormalSize;
    }
    
  }
  
  
}

